# Data files
data/


# Environment variables / secrets
.env

# macOS metadata
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
pds/
# Generated outputs
outputs/features/
outputs/models/
